@page
@using AddressBook.DataTransferModels
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="given-name" aria-required="true"
                    placeholder="Elon" />
                <label asp-for="Input.FirstName" class="form-label">Firstname</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Surname" class="form-control" autocomplete="family-name" aria-required="true"
                    placeholder="Musk" />
                <label asp-for="Input.Surname" class="form-label">Surname</label>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>

            <h2>Address</h2>

            <div class="form-floating mb-3">
                <input asp-for="Input.Street" class="form-control" autocomplete="street-address" aria-required="true"
                    placeholder="Bielska" />
                <label asp-for="Input.Street">Street</label>
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control" autocomplete="address-level2" aria-required="true"
                    placeholder="Bielsko-Biała" />
                <label asp-for="Input.City">City</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>

            <div class="d-flex gap-2">
                <img class="img-flag" id="countryFlag" src="" alt="">
                <select id="countrySelect" asp-for="Input.CountryCode" class="form-select form-select-lg mb-3"
                    aria-required="true" aria-label="Country select">
                    @foreach (var country in Model.UserData.CountryData)
                    {
                        <option value="@country.Key">
                            @country.Value.Name (@country.Key)
                        </option>
                    }
                </select>

                <input type="hidden" asp-for="Input.Country" value="" />
                <input type="hidden" asp-for="Input.CountryFlagUrl" value="" />
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Zip" class="form-control" autocomplete="postal-code" aria-required="true"
                    placeholder="43-300" />
                <label asp-for="Input.Zip">Zip</label>
                <span asp-validation-for="Input.Zip" class="text-danger"></span>
            </div>

            <h2>Contact</h2>

            <div class="form-group mb-3">
                <label asp-for="Input.PhoneNumber">Phone number</label>
                <div class="d-flex gap-2">
                    <select id="PhoneCodeSelect" asp-for="Input.PhoneNumberCode" autocomplete="tel-area-code"
                        class="form-select form-select-lg w-auto" aria-required="true" aria-label="Phone code select">
                        @foreach (var country in Model.UserData.CountryData)
                        {
                            @if (string.IsNullOrEmpty(country.Value.Phone[0]) || country.Value.Phone[0].Length == 1)
                                continue;
                            <option value="@country.Key @country.Value.Phone[0]">
                                @country.Key @country.Value.Phone[0]
                            </option>
                        }
                    </select>

                    <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="tel" aria-required="true"
                        placeholder="123456789" />
                </div>

                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true"
                    placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <h2>Credentials</h2>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"
                    placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                    aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/register.js"></script>
    <script>
        $(document).ready(function () {
            const allCountryCodes = @Html.Raw(Json.Serialize(Model.UserData.CountryData));
            const fisrtLoad = @Html.Raw(Json.Serialize(Model.FirstLoad));
            const countrySelector = new CountrySelector(allCountryCodes, fisrtLoad);
        });
    </script>
}
