@using AddressBook.DataTransferModels
@model SelectDTM

@Model.CountryData.Count
<div class="form-floating mb-3" id="">
    <select id="countrySelect" class="form-select" aria-required="true">
        @foreach (var country in Model.CountryData)
        {
            <option value="@country.Key" data-image="@country.Value.Image">
                @country.Value.Name (@country.Key)
            </option>
        }
    </select>

    <label>Country</label>
    <span class="text-danger"></span>
</div>
